.navbar2-wrapper {
  display: contents;
}
 
.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar2-thq-image1-elm {
  height: 3rem;
}
 
.navbar2-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar2-thq-links-elm1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar2-thq-burger-menu-elm {
  display: none;
}
 
.navbar2-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar2-thq-logo-elm {
  height: 3rem;
}
 
.navbar2-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar2-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-thq-links-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-thq-icon-group-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
  font-size: 24px;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.navbar2root-class-name {
  height: auto;
  min-width: auto;
  min-height: auto;
  background-color: #cde5e1;
}
 
.navbar2root-class-name1 {
  height: auto;
  min-width: auto;
  min-height: auto;
  background-color: #cde5e1;
}
 
.navbar2root-class-name2 {
  height: auto;
  min-width: auto;
  min-height: auto;
  background-color: #cde5e1;
}
 
@media(max-width: 767px) {
  .navbar2-thq-navbar-interactive-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar2-thq-desktop-menu-elm {
    display: none;
  }
  .navbar2-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar2-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
}

.banner11-wrapper {
  display: contents;
}
 
.banner11-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/30547577/pexels-photo-30547577.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-position: center;
}
 
.banner11-thq-max-width-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-thq-title-elm {
  text-align: center;
}
 
.banner11-text1 {
  text-align: center;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.banner11root-class-name {
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%),url('https://images.pexels.com/photos/30547577/pexels-photo-30547577.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.gallery2-wrapper {
  display: contents;
}
 
.gallery2-thq-gallery3-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery2-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery2-thq-section-title-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery2-thq-text-elm1 {
  text-align: center;
}
 
.gallery2-thq-text-elm2 {
  text-align: center;
}
 
.gallery2-thq-content-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery2-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery2-thq-image1-elm {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery2-thq-image2-elm {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery2-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery2-thq-image3-elm {
  width: 100%;
  max-width: 600px;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.gallery2root-class-name {
  height: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
}
 
@media(max-width: 991px) {
  .gallery2-thq-content-elm {
    align-items: center;
    flex-direction: column;
  }
  .gallery2-thq-image1-elm {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery2-thq-image2-elm {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery2-thq-image3-elm {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 479px) {
  .gallery2-thq-content-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
  font-size: 24px;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-navlink1 {
  display: contents;
}
 
.home-component2 {
  text-decoration: none;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-thq-information-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  align-items: flex-start;
  padding-top: 60px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: 140px;
  border-top-width: 1px;
}
 
.home-thq-purpose-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-caption-elm1 {
  color: #27272D;
  letter-spacing: 5%;
  text-transform: uppercase;
}
 
.home-thq-description-elm {
  color: rgb(39, 39, 45);
  width: 100%;
  height: 100%;
  font-size: 24px;
  max-width: 100%;
  align-self: center;
  max-height: 100%;
  text-align: left;
  line-height: 54px;
}
 
.home-thq-caption-elm2 {
  color: rgb(39, 39, 45);
}
 
.home-container2 {
  width: 100px;
  height: 100%;
  display: grid;
  min-width: 1000px;
  align-self: center;
  min-height: 200px;
  grid-template-columns: 1fr 1fr 1fr;
}
 
.home-container3 {
  width: 100%;
  height: 200px;
  display: flex;
  min-width: auto;
  min-height: auto;
  align-items: flex-start;
  justify-content: center;
}
 
.home-image1 {
  width: 200px;
  height: 100%;
  min-width: auto;
  min-height: auto;
  object-fit: cover;
}
 
.home-container4 {
  width: 100%;
  height: 200px;
  display: flex;
  min-width: auto;
  min-height: auto;
  align-items: center;
  justify-content: center;
}
 
.home-image2 {
  width: 200px;
  height: 100%;
  min-width: auto;
  min-height: auto;
  object-fit: cover;
}
 
.home-container5 {
  width: 100%;
  height: 200px;
  display: flex;
  min-width: auto;
  min-height: auto;
  align-items: center;
  justify-content: center;
}
 
.home-image3 {
  width: 200px;
  height: 100%;
  min-width: auto;
  align-self: center;
  min-height: auto;
  object-fit: cover;
}
 
.home-thq-caption-elm3 {
  color: #27272D;
  letter-spacing: 5%;
  text-transform: uppercase;
}
 
.home-thq-book-elm {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: #48B5DC;
}
 
.home-thq-content-elm1 {
  width: auto;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-left-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-text-elm {
  width: auto;
  height: auto;
  line-height: 65px;
}
 
.home-button {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-unit);
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
}
 
.home-navlink2 {
  text-transform: capitalize;
  text-decoration: none;
}
 
.home-image4 {
  width: auto;
  height: 356px;
  align-self: flex-end;
  object-fit: cover;
}
 
.home-thq-section-elm {
  width: auto;
  align-items: center;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: column;
  padding-bottom: 0px;
  background-color: var(--dl-color-gray-white);
}
 
.home-thq-about-us-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: auto;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
 
.home-thq-header-elm1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-caption-elm4 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  letter-spacing: 5%;
  text-transform: uppercase;
}
 
.home-thq-statistics-elm {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: var(--dl-color-gray-black);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
 
.home-thq-statistic-elm1 {
  gap: var(--dl-layout-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text19 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text20 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-thq-statistic-elm2 {
  gap: var(--dl-layout-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text21 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text22 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-thq-statistic-elm3 {
  gap: var(--dl-layout-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text23 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text24 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-thq-statistic-elm4 {
  gap: var(--dl-layout-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text25 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
 
.home-text26 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-thq-footer-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-thq-header-elm2 {
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
 
.home-thq-branding-elm {
  color: rgb(39, 39, 45);
}
 
.home-thq-content-elm2 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
 
.home-thq-contact-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-email-elm {
  color: rgb(39, 39, 45);
}
 
.home-thq-number-elm {
  color: rgb(39, 39, 45);
}
 
.home-thq-links-row-elm {
  gap: 128px;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.home-thq-link-elm1 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-thq-link-elm1:hover {
  opacity: 0.7;
}
 
.home-thq-link-elm2 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-thq-link-elm2:hover {
  opacity: 0.7;
}
 
.home-thq-link-elm3 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-thq-link-elm3:hover {
  opacity: 0.7;
}
 
.home-thq-link-elm4 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-thq-link-elm4:hover {
  opacity: 0.7;
}
 
@media(max-width: 991px) {
  .home-thq-information-elm {
    gap: var(--dl-layout-space-threeunits);
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
    border-top-width: 0px;
  }
  .home-thq-purpose-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-thq-caption-elm1 {
    font-size: 12px;
  }
  .home-thq-description-elm {
    font-size: 16px;
    line-height: 28px;
  }
  .home-thq-caption-elm2 {
    font-size: 12px;
  }
  .home-thq-caption-elm3 {
    font-size: 12px;
  }
  .home-thq-book-elm {
    padding-top: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-content-elm1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-thq-left-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
  }
  .home-thq-text-elm {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .home-navlink2 {
    font-size: 16px;
  }
  .home-image4 {
    height: 220px;
  }
  .home-thq-section-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-about-us-elm {
    gap: var(--dl-layout-space-threeunits);
  }
  .home-thq-header-elm1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-thq-caption-elm4 {
    font-size: 12px;
  }
  .home-thq-statistics-elm {
    gap: var(--dl-layout-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text19 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text20 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text21 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text22 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text23 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text24 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text25 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text26 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-thq-footer-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-thq-header-elm2 {
    padding-top: 0px;
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-thq-branding-elm {
    font-size: 30px;
  }
  .home-thq-content-elm2 {
    gap: var(--dl-layout-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-layout-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-thq-email-elm {
    font-size: 24px;
  }
  .home-thq-number-elm {
    font-size: 24px;
  }
  .home-thq-links-row-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .home-image4 {
    align-self: center;
  }
  .home-thq-branding-elm {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .home-thq-contact-elm {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .banner11-container1 {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}
