.navbar2-wrapper {
  display: contents;
}
 
.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar2-thq-image1-elm {
  height: 3rem;
}
 
.navbar2-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar2-thq-links-elm1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar2-thq-burger-menu-elm {
  display: none;
}
 
.navbar2-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar2-thq-logo-elm {
  height: 3rem;
}
 
.navbar2-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar2-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-thq-links-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-thq-icon-group-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.mission-fragment12 {
  display: contents;
}
 
.mission-text12 {
  display: inline-block;
}
 
.mission-fragment15 {
  display: contents;
}
 
.mission-text15 {
  display: inline-block;
}
 
.mission-fragment14 {
  display: contents;
}
 
.mission-text14 {
  display: inline-block;
}
 
.mission-fragment13 {
  display: contents;
}
 
.mission-text13 {
  display: inline-block;
}
 
.mission-fragment10 {
  display: contents;
}
 
.mission-text10 {
  display: inline-block;
  font-size: 24px;
}
 
.mission-fragment11 {
  display: contents;
}
 
.mission-text11 {
  display: inline-block;
}
 
.navbar2root-class-name {
  height: auto;
  min-width: auto;
  min-height: auto;
  background-color: #cde5e1;
}
 
.navbar2root-class-name1 {
  height: auto;
  min-width: auto;
  min-height: auto;
  background-color: #cde5e1;
}
 
.navbar2root-class-name2 {
  height: auto;
  min-width: auto;
  min-height: auto;
  background-color: #cde5e1;
}
 
@media(max-width: 767px) {
  .navbar2-thq-navbar-interactive-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar2-thq-desktop-menu-elm {
    display: none;
  }
  .navbar2-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar2-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
}

.hero8-wrapper {
  display: contents;
}
 
.hero8-thq-header26-elm {
  gap: var(--dl-layout-space-twounits);
}
 
.hero8-thq-max-width-elm {
  align-self: center;
}
 
.hero8-thq-column-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero8-thq-content-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero8-thq-text-elm1 {
  text-align: center;
}
 
.hero8-thq-text-elm2 {
  text-align: center;
}
 
.hero8-thq-actions-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero8-thq-button-elm1 {
  text-align: center;
  text-decoration: none;
}
 
.mission-fragment18 {
  display: contents;
}
 
.mission-text18 {
  display: inline-block;
}
 
.mission-fragment19 {
  display: contents;
}
 
.mission-text19 {
  display: inline-block;
}
 
.mission-fragment16 {
  display: contents;
}
 
.mission-text16 {
  display: inline-block;
}
 
.mission-fragment17 {
  display: contents;
}
 
.mission-text17 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero8-thq-actions-elm {
    width: 100%;
    flex-direction: column;
  }
  .hero8-thq-button-elm1 {
    width: 100%;
  }
  .hero8-thq-button-elm2 {
    width: 100%;
  }
}

.stats2-wrapper {
  display: contents;
}
 
.stats2-container10 {
  width: 100%;
  flex-direction: column;
}
 
.stats2-thq-max-width-elm {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
 
.stats2-container11 {
  max-width: 50%;
}
 
.stats2-container12 {
  width: 574px;
  height: 438px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.stats2-image {
  width: 100%;
  max-width: 352px;
  object-fit: cover;
}
 
.stats2-container13 {
  align-self: center;
  align-items: flex-start;
  margin-left: auto;
}
 
.stats2-container14 {
  width: 100%;
}
 
.stats2-container15 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats2-container16 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats2-container17 {
  width: 100%;
}
 
.stats2-container18 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats2-container19 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.mission-fragment22 {
  display: contents;
}
 
.mission-text22 {
  display: inline-block;
}
 
.mission-fragment24 {
  display: contents;
}
 
.mission-text24 {
  display: inline-block;
}
 
.mission-fragment21 {
  display: contents;
}
 
.mission-text21 {
  display: inline-block;
}
 
.mission-fragment29 {
  display: contents;
}
 
.mission-text29 {
  display: inline-block;
}
 
.mission-fragment20 {
  display: contents;
}
 
.mission-text20 {
  display: inline-block;
}
 
.mission-fragment23 {
  display: contents;
}
 
.mission-text23 {
  display: inline-block;
}
 
.mission-fragment28 {
  display: contents;
}
 
.mission-text28 {
  display: inline-block;
}
 
.mission-fragment26 {
  display: contents;
}
 
.mission-text26 {
  display: inline-block;
}
 
.mission-fragment27 {
  display: contents;
}
 
.mission-text27 {
  display: inline-block;
}
 
.mission-fragment25 {
  display: contents;
}
 
.mission-text25 {
  display: inline-block;
}
 
.stats2root-class-name {
  padding-top: 0px;
  padding-bottom: 0px;
}
 
@media(max-width: 991px) {
  .stats2-thq-max-width-elm {
    gap: var(--dl-layout-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .stats2-container11 {
    width: 100%;
    max-width: 100%;
  }
  .stats2-container13 {
    align-self: flex-start;
    margin-left: 0px;
  }
}
 
@media(max-width: 479px) {
  .stats2-container12 {
    width: 100%;
  }
}

.content-list1-wrapper {
  display: contents;
}
 
.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-thq-max-width-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list1-thq-content-elm {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list1-ul {
  align-items: flex-start;
}
 
.content-list1-thq-heading1-elm {
  align-self: flex-start;
}
 
.mission-fragment38 {
  display: contents;
}
 
.mission-text38 {
  display: inline-block;
}
 
.mission-fragment36 {
  display: contents;
}
 
.mission-text36 {
  display: inline-block;
}
 
.mission-fragment33 {
  display: contents;
}
 
.mission-text33 {
  display: inline-block;
}
 
.mission-fragment31 {
  display: contents;
}
 
.mission-text31 {
  display: inline-block;
}
 
.mission-fragment32 {
  display: contents;
}
 
.mission-text32 {
  display: inline-block;
}
 
.mission-fragment39 {
  display: contents;
}
 
.mission-text39 {
  display: inline-block;
}
 
.mission-fragment37 {
  display: contents;
}
 
.mission-text37 {
  display: inline-block;
}
 
.mission-fragment34 {
  display: contents;
}
 
.mission-text34 {
  display: inline-block;
}
 
.mission-fragment30 {
  display: contents;
}
 
.mission-text30 {
  display: inline-block;
}
 
.mission-fragment35 {
  display: contents;
}
 
.mission-text35 {
  display: inline-block;
}
 
.mission-fragment40 {
  display: contents;
}
 
.mission-text40 {
  display: inline-block;
}
 
.mission-fragment41 {
  display: contents;
}
 
.mission-text41 {
  display: inline-block;
}
 
.content-list1root-class-name {
  padding-top: 40px;
  padding-bottom: 40px;
}

.team2-wrapper {
  display: contents;
}
 
.team2-thq-max-width-elm {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.team2-thq-section-title-elm {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-thq-content-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-thq-text-elm10 {
  align-self: flex-start;
}
 
.team2-thq-content-elm2 {
  gap: 96px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team2-thq-content-elm3 {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.team2-thq-row-elm {
  gap: 48px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team2-thq-card-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-thq-placeholder-image-elm1 {
  width: 313px;
  height: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.team2-image1 {
  width: 100%;
  height: 100%;
  min-width: 333px;
  min-height: 333px;
  object-fit: cover;
}
 
.team2-thq-content-elm4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-thq-title-elm1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-thq-text-elm11 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team2-thq-text-elm12 {
  align-self: flex-start;
}
 
.team2-thq-text-elm13 {
  align-self: flex-start;
}
 
.team2-thq-card-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-thq-placeholder-image-elm2 {
  width: 314px;
  height: 314px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.team2-image2 {
  width: 100%;
  height: 100%;
  min-width: 333px;
  min-height: 333px;
  object-fit: cover;
}
 
.team2-thq-content-elm5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-thq-title-elm2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-thq-text-elm14 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team2-thq-text-elm15 {
  align-self: flex-start;
}
 
.team2-thq-text-elm16 {
  align-self: flex-start;
}
 
.team2-thq-card-elm3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team2-thq-placeholder-image-elm3 {
  width: 314px;
  height: 314px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
 
.team2-image3 {
  width: 100%;
  height: 100%;
  min-width: 332px;
  min-height: 333px;
  object-fit: cover;
}
 
.team2-thq-content-elm6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-thq-title-elm3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team2-thq-text-elm17 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.team2-thq-text-elm18 {
  align-self: flex-start;
}
 
.team2-thq-text-elm19 {
  align-self: flex-start;
}
 
.mission-fragment49 {
  display: contents;
}
 
.mission-text49 {
  display: inline-block;
}
 
.mission-fragment48 {
  display: contents;
}
 
.mission-text48 {
  display: inline-block;
}
 
.mission-fragment44 {
  display: contents;
}
 
.mission-text44 {
  display: inline-block;
}
 
.mission-fragment42 {
  display: contents;
}
 
.mission-text42 {
  display: inline-block;
}
 
.mission-fragment43 {
  display: contents;
}
 
.mission-text43 {
  display: inline-block;
}
 
.mission-fragment46 {
  display: contents;
}
 
.mission-text46 {
  display: inline-block;
}
 
.mission-fragment51 {
  display: contents;
}
 
.mission-text51 {
  display: inline-block;
}
 
.mission-fragment50 {
  display: contents;
}
 
.mission-text50 {
  display: inline-block;
}
 
.mission-fragment45 {
  display: contents;
}
 
.mission-text45 {
  display: inline-block;
}
 
.mission-fragment47 {
  display: contents;
}
 
.mission-text47 {
  display: inline-block;
}
 
.team2root-class-name {
  padding-top: 20px;
}
 
@media(max-width: 991px) {
  .team2-thq-row-elm {
    align-items: center;
    flex-direction: row;
  }
}
 
@media(max-width: 767px) {
  .team2-thq-row-elm {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .team2-thq-placeholder-image-elm1 {
    width: 100%;
    height: 442px;
  }
  .team2-image1 {
    width: 100%;
    height: 100%;
    min-width: 333px;
    min-height: 333px;
    margin-left: 0px;
  }
  .team2-thq-placeholder-image-elm2 {
    width: 100%;
    height: 100%;
  }
  .team2-image2 {
    width: 100%;
    height: 100%;
  }
  .team2-thq-placeholder-image-elm3 {
    width: 100%;
    height: 100%;
    min-width: 333px;
    min-height: 333px;
  }
  .team2-image3 {
    width: 100%;
    height: 452px;
  }
}

.features1-wrapper {
  display: contents;
}
 
.features1-thq-layout251-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features1-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features1-thq-column-elm {
  gap: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features1-thq-content-elm1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features1-thq-row-elm {
  align-items: flex-start;
}
 
.features1-thq-feature1-elm {
  flex: 1;
}
 
.features1-thq-content-elm2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features1-thq-feature2-elm {
  flex: 1;
}
 
.features1-thq-content-elm3 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features1-thq-feature3-elm {
  flex: 1;
}
 
.features1-thq-content-elm4 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features1-thq-actions-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.mission-fragment53 {
  display: contents;
}
 
.mission-text53 {
  display: inline-block;
}
 
.mission-fragment59 {
  display: contents;
}
 
.mission-text59 {
  display: inline-block;
}
 
.mission-fragment58 {
  display: contents;
}
 
.mission-text58 {
  display: inline-block;
}
 
.mission-fragment52 {
  display: contents;
}
 
.mission-text52 {
  display: inline-block;
}
 
.mission-fragment57 {
  display: contents;
}
 
.mission-text57 {
  display: inline-block;
}
 
.mission-fragment56 {
  display: contents;
}
 
.mission-text56 {
  display: inline-block;
}
 
.mission-fragment55 {
  display: contents;
}
 
.mission-text55 {
  display: inline-block;
}
 
.mission-fragment54 {
  display: contents;
}
 
.mission-text54 {
  display: inline-block;
}
 
.features1root-class-name {
  padding-top: 0px;
  padding-bottom: 0px;
}
 
@media(max-width: 991px) {
  .features1-thq-section-title-elm {
    align-items: flex-start;
    flex-direction: column;
  }
  .features1-thq-feature1-image-elm {
    height: 260px;
  }
  .features1-thq-feature2-image-elm {
    height: 260px;
  }
  .features1-thq-feature3-image-elm {
    height: 260px;
  }
}
 
@media(max-width: 767px) {
  .features1-thq-column-elm {
    width: 100%;
  }
  .features1-thq-text-elm {
    text-align: center;
  }
  .features1-thq-row-elm {
    flex-direction: column;
  }
  .features1-thq-feature1-image-elm {
    width: 100%;
  }
  .features1-thq-feature2-elm {
    width: auto;
  }
  .features1-thq-feature2-image-elm {
    width: 100%;
  }
  .features1-thq-feature3-elm {
    width: auto;
  }
  .features1-thq-actions-elm {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 479px) {
  .features1-thq-actions-elm {
    width: 100%;
    flex-direction: column;
  }
  .features1-thq-button-elm {
    width: 100%;
  }
}

.mission-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mission-thq-header-elm1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.mission-fragment10 {
  display: contents;
}
 
.mission-text10 {
  display: inline-block;
  font-size: 24px;
}
 
.mission-fragment11 {
  display: contents;
}
 
.mission-text11 {
  display: inline-block;
}
 
.mission-fragment12 {
  display: contents;
}
 
.mission-text12 {
  display: inline-block;
}
 
.mission-fragment13 {
  display: contents;
}
 
.mission-text13 {
  display: inline-block;
}
 
.mission-fragment14 {
  display: contents;
}
 
.mission-text14 {
  display: inline-block;
}
 
.mission-fragment15 {
  display: contents;
}
 
.mission-text15 {
  display: inline-block;
}
 
.mission-fragment16 {
  display: contents;
}
 
.mission-text16 {
  display: inline-block;
}
 
.mission-fragment17 {
  display: contents;
}
 
.mission-text17 {
  display: inline-block;
}
 
.mission-fragment18 {
  display: contents;
}
 
.mission-text18 {
  display: inline-block;
}
 
.mission-fragment19 {
  display: contents;
}
 
.mission-text19 {
  display: inline-block;
}
 
.mission-fragment20 {
  display: contents;
}
 
.mission-text20 {
  display: inline-block;
}
 
.mission-fragment21 {
  display: contents;
}
 
.mission-text21 {
  display: inline-block;
}
 
.mission-fragment22 {
  display: contents;
}
 
.mission-text22 {
  display: inline-block;
}
 
.mission-fragment23 {
  display: contents;
}
 
.mission-text23 {
  display: inline-block;
}
 
.mission-fragment24 {
  display: contents;
}
 
.mission-text24 {
  display: inline-block;
}
 
.mission-fragment25 {
  display: contents;
}
 
.mission-text25 {
  display: inline-block;
}
 
.mission-fragment26 {
  display: contents;
}
 
.mission-text26 {
  display: inline-block;
}
 
.mission-fragment27 {
  display: contents;
}
 
.mission-text27 {
  display: inline-block;
}
 
.mission-fragment28 {
  display: contents;
}
 
.mission-text28 {
  display: inline-block;
}
 
.mission-fragment29 {
  display: contents;
}
 
.mission-text29 {
  display: inline-block;
}
 
.mission-fragment30 {
  display: contents;
}
 
.mission-text30 {
  display: inline-block;
}
 
.mission-fragment31 {
  display: contents;
}
 
.mission-text31 {
  display: inline-block;
}
 
.mission-fragment32 {
  display: contents;
}
 
.mission-text32 {
  display: inline-block;
}
 
.mission-fragment33 {
  display: contents;
}
 
.mission-text33 {
  display: inline-block;
}
 
.mission-fragment34 {
  display: contents;
}
 
.mission-text34 {
  display: inline-block;
}
 
.mission-fragment35 {
  display: contents;
}
 
.mission-text35 {
  display: inline-block;
}
 
.mission-fragment36 {
  display: contents;
}
 
.mission-text36 {
  display: inline-block;
}
 
.mission-fragment37 {
  display: contents;
}
 
.mission-text37 {
  display: inline-block;
}
 
.mission-fragment38 {
  display: contents;
}
 
.mission-text38 {
  display: inline-block;
}
 
.mission-fragment39 {
  display: contents;
}
 
.mission-text39 {
  display: inline-block;
}
 
.mission-fragment40 {
  display: contents;
}
 
.mission-text40 {
  display: inline-block;
}
 
.mission-fragment41 {
  display: contents;
}
 
.mission-text41 {
  display: inline-block;
}
 
.mission-fragment42 {
  display: contents;
}
 
.mission-text42 {
  display: inline-block;
}
 
.mission-fragment43 {
  display: contents;
}
 
.mission-text43 {
  display: inline-block;
}
 
.mission-fragment44 {
  display: contents;
}
 
.mission-text44 {
  display: inline-block;
}
 
.mission-fragment45 {
  display: contents;
}
 
.mission-text45 {
  display: inline-block;
}
 
.mission-fragment46 {
  display: contents;
}
 
.mission-text46 {
  display: inline-block;
}
 
.mission-fragment47 {
  display: contents;
}
 
.mission-text47 {
  display: inline-block;
}
 
.mission-fragment48 {
  display: contents;
}
 
.mission-text48 {
  display: inline-block;
}
 
.mission-fragment49 {
  display: contents;
}
 
.mission-text49 {
  display: inline-block;
}
 
.mission-fragment50 {
  display: contents;
}
 
.mission-text50 {
  display: inline-block;
}
 
.mission-fragment51 {
  display: contents;
}
 
.mission-text51 {
  display: inline-block;
}
 
.mission-fragment52 {
  display: contents;
}
 
.mission-text52 {
  display: inline-block;
}
 
.mission-fragment53 {
  display: contents;
}
 
.mission-text53 {
  display: inline-block;
}
 
.mission-fragment54 {
  display: contents;
}
 
.mission-text54 {
  display: inline-block;
}
 
.mission-fragment55 {
  display: contents;
}
 
.mission-text55 {
  display: inline-block;
}
 
.mission-fragment56 {
  display: contents;
}
 
.mission-text56 {
  display: inline-block;
}
 
.mission-fragment57 {
  display: contents;
}
 
.mission-text57 {
  display: inline-block;
}
 
.mission-fragment58 {
  display: contents;
}
 
.mission-text58 {
  display: inline-block;
}
 
.mission-fragment59 {
  display: contents;
}
 
.mission-text59 {
  display: inline-block;
}
 
.mission-thq-footer-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.mission-thq-header-elm2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
 
.mission-thq-branding-elm {
  color: rgb(39, 39, 45);
}
 
.mission-thq-content-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
 
.mission-thq-contact-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.mission-thq-email-elm {
  color: rgb(39, 39, 45);
}
 
.mission-thq-number-elm {
  color: rgb(39, 39, 45);
}
 
.mission-thq-links-row-elm {
  gap: 128px;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.mission-thq-link-elm1 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.mission-thq-link-elm1:hover {
  opacity: 0.7;
}
 
.mission-thq-link-elm2 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.mission-thq-link-elm2:hover {
  opacity: 0.7;
}
 
.mission-thq-link-elm3 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.mission-thq-link-elm3:hover {
  opacity: 0.7;
}
 
.mission-thq-link-elm4 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.mission-thq-link-elm4:hover {
  opacity: 0.7;
}
 
@media(max-width: 991px) {
  .mission-thq-footer-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .mission-thq-header-elm2 {
    padding-top: 0px;
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .mission-thq-branding-elm {
    font-size: 30px;
  }
  .mission-thq-content-elm {
    gap: var(--dl-layout-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-layout-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .mission-thq-email-elm {
    font-size: 24px;
  }
  .mission-thq-number-elm {
    font-size: 24px;
  }
  .mission-thq-links-row-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .mission-thq-branding-elm {
    width: 100%;
    height: 100%;
  }
  .mission-thq-contact-elm {
    width: 100%;
    height: 100%;
    align-self: flex-start;
  }
}
