.nav-links-thq-links-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
@media(max-width: 767px) {
  .nav-links-thq-links-elm {
    display: none;
  }
}
