.team1-thq-max-width-elm {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-section-title-elm {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-content-elm10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-content-elm11 {
  gap: var(--dl-layout-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-content-elm12 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team1-thq-row-elm1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team1-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-thq-card-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm1 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm13 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm14 {
  text-align: center;
}
 
.team1-thq-text-elm15 {
  text-align: center;
}
 
.team1-thq-social-icons-elm1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-thq-card-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm2 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm16 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm17 {
  text-align: center;
}
 
.team1-thq-text-elm18 {
  text-align: center;
}
 
.team1-thq-social-icons-elm2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-container2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-thq-card-elm3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm3 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm19 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm20 {
  text-align: center;
}
 
.team1-thq-text-elm21 {
  text-align: center;
}
 
.team1-thq-social-icons-elm3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-thq-card-elm4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm4 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm22 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm23 {
  text-align: center;
}
 
.team1-thq-text-elm24 {
  text-align: center;
}
 
.team1-thq-social-icons-elm4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-thq-row-elm2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team1-container3 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-thq-card-elm5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm5 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm25 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm26 {
  text-align: center;
}
 
.team1-thq-text-elm27 {
  text-align: center;
}
 
.team1-thq-social-icons-elm5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-thq-card-elm6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm6 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm28 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm29 {
  text-align: center;
}
 
.team1-thq-text-elm30 {
  text-align: center;
}
 
.team1-thq-social-icons-elm6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-container4 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-thq-card-elm7 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm7 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm31 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm32 {
  text-align: center;
}
 
.team1-thq-text-elm33 {
  text-align: center;
}
 
.team1-thq-social-icons-elm7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-thq-card-elm8 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-thq-placeholder-image-elm8 {
  width: 80px;
  height: 80px;
}
 
.team1-thq-content-elm20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-title-elm8 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-text-elm34 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-thq-text-elm35 {
  text-align: center;
}
 
.team1-thq-text-elm36 {
  text-align: center;
}
 
.team1-thq-social-icons-elm8 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team1-thq-content-elm21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
 
.team1-thq-content-elm22 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-fragment10 {
  display: contents;
}
 
.team1-text10 {
  display: inline-block;
}
 
.team1-fragment11 {
  display: contents;
}
 
.team1-text11 {
  display: inline-block;
}
 
.team1-fragment12 {
  display: contents;
}
 
.team1-text12 {
  display: inline-block;
}
 
.team1-fragment13 {
  display: contents;
}
 
.team1-text13 {
  display: inline-block;
}
 
.team1-fragment14 {
  display: contents;
}
 
.team1-text14 {
  display: inline-block;
}
 
.team1-fragment15 {
  display: contents;
}
 
.team1-text15 {
  display: inline-block;
}
 
.team1-fragment16 {
  display: contents;
}
 
.team1-text16 {
  display: inline-block;
}
 
.team1-fragment17 {
  display: contents;
}
 
.team1-text17 {
  display: inline-block;
}
 
.team1-fragment18 {
  display: contents;
}
 
.team1-text18 {
  display: inline-block;
}
 
.team1-fragment19 {
  display: contents;
}
 
.team1-text19 {
  display: inline-block;
}
 
.team1-fragment20 {
  display: contents;
}
 
.team1-text20 {
  display: inline-block;
}
 
.team1-fragment21 {
  display: contents;
}
 
.team1-text21 {
  display: inline-block;
}
 
.team1-fragment22 {
  display: contents;
}
 
.team1-text22 {
  display: inline-block;
}
 
.team1-fragment23 {
  display: contents;
}
 
.team1-text23 {
  display: inline-block;
}
 
.team1-fragment24 {
  display: contents;
}
 
.team1-text24 {
  display: inline-block;
}
 
.team1-fragment25 {
  display: contents;
}
 
.team1-text25 {
  display: inline-block;
}
 
.team1-fragment26 {
  display: contents;
}
 
.team1-text26 {
  display: inline-block;
}
 
.team1-fragment27 {
  display: contents;
}
 
.team1-text27 {
  display: inline-block;
}
 
.team1-fragment28 {
  display: contents;
}
 
.team1-text28 {
  display: inline-block;
}
 
.team1-fragment29 {
  display: contents;
}
 
.team1-text29 {
  display: inline-block;
}
 
.team1-fragment30 {
  display: contents;
}
 
.team1-text30 {
  display: inline-block;
}
 
.team1-fragment31 {
  display: contents;
}
 
.team1-text31 {
  display: inline-block;
}
 
.team1-fragment32 {
  display: contents;
}
 
.team1-text32 {
  display: inline-block;
}
 
.team1-fragment33 {
  display: contents;
}
 
.team1-text33 {
  display: inline-block;
}
 
.team1-fragment34 {
  display: contents;
}
 
.team1-text34 {
  display: inline-block;
}
 
.team1-fragment35 {
  display: contents;
}
 
.team1-text35 {
  display: inline-block;
}
 
.team1-fragment36 {
  display: contents;
}
 
.team1-text36 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .team1-thq-content-elm11 {
    gap: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .team1-thq-row-elm1 {
    align-items: center;
    flex-direction: column;
  }
  .team1-thq-row-elm2 {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .team1-thq-text-elm10 {
    text-align: center;
  }
  .team1-thq-text-elm11 {
    text-align: center;
  }
  .team1-thq-text-elm12 {
    text-align: center;
  }
  .team1-container1 {
    flex-direction: column;
  }
  .team1-container2 {
    flex-direction: column;
  }
  .team1-container3 {
    flex-direction: column;
  }
  .team1-container4 {
    flex-direction: column;
  }
}
